  width:88px;
  height:88px;
  margin:auto;
  display:grid;
  place-items:center;
  border-radius:50%;
  background:linear-gradient(135deg,#ff0033,#b80024);
  font-size:28px;
  font-weight:700;
}

.profile h2{
  margin-bottom:5px;
}

.profile p{
  color:#aaa;
}

.profile button{
  width:100%;
  max-width:360px;
  display:block;
  margin:9px auto;
  padding:12px;
  border:0;
  border-radius:10px;
  background:#272727;
  color:#fff;
  font-weight:600;
}

/* SHORTS */

.shorts-feed{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.shorts-feed .thumb{
  aspect-ratio:9/16;
  border-radius:14px;
}

.shorts-feed .video-card h3{
  font-size:14px;
}

/* BOTTOM NAV */

.bottom-nav{
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  z-index:200;
  width:100%;
  height:68px;
  display:grid;
  grid-template-columns:repeat(5,1fr);
  background:#111;
  border-top:1px solid #242424;
}

.bottom-nav button{
  min-width:0;
  border:0;
  background:transparent;
  color:#fff;
  padding:5px 2px;
}

.bottom-nav button span{
  display:block;
  font-size:20px;
  line-height:24px;
}

.bottom-nav button small{
  display:block;
  margin-top:2px;
  font-size:10px;
}

.upload-nav span{
  width:38px;
  height:38px;
  margin:auto;
  display:grid !important;
  place-items:center;
  border-radius:50%;
  background:#fff;
  color:#111;
  font-size:26px !important;
}

/* TABLET */

@media(min-width:700px){
  .logo>span{
    display:inline;
    font-size:18px;
  }

  .feed{
    grid-template-columns:repeat(2,1fr);
  }

  .shorts-feed{
    grid-template-columns:repeat(3,1fr);
  }

  #app{
    padding-left:18px;
    padding-right:18px;
  }
}

/* DESKTOP */

@media(min-width:1100px){
  .feed{
    grid-template-columns:repeat(4,1fr);
  }

  .shorts-feed{
    grid-template-columns:repeat(5,1fr);
  }

  #app{
    max-width:1400px;
    margin:auto;
  }
}
